:root {
  --brand-color: #2196f3;
  --weak-color: #757575;
  --strong-color: #212121;
  --contrast-color: #ffffff;
  --second-section-color: #f5f4fa;
  --footer-color: #2f303a;
  --svg-color: #afb1b8;
}
h1,
h5,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--strong-color);
  letter-spacing: 0.03em;
}
*:focus {
  outline-color: var(--brand-color);
  outline-offset: 0;
  outline-style: solid;
  outline-width: 1px;
  border: none;
  border-radius: 0.2%;
}

.list {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */
.header-border {
  border-bottom: solid 1px #ececec;
}
.header-wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 2.25%;
  margin: auto;
  justify-content: space-between;
}
.header-left {
  flex-basis: 492px;
  justify-content: space-between;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  line-height: 1.19em;
  display: inline-block;
  margin-right: 12px;
}
.logo-blue {
  color: var(--brand-color);
}
.header-menu {
  flex-basis: 254px;
  justify-content: space-between;
}

.header-menu li:last-child {
  margin: 0;
}

.header-menu a {
  color: var(--strong-color);
  letter-spacing: 0.02em;
  line-height: 1.14em;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  align-self: center;
  transition: fill 0.25s, color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mp svg {
  align-items: center;
  margin-right: 0.2rem;
  fill: var(--weak-color);
  margin-bottom: 2px;
}

.header-menu a:hover,
.header-menu a:focus,
.contact-mp:focus svg,
.contact-mp:hover svg,
.contact-mp:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.contact-mp,
.contact-mp svg {
  transition: fill 0.25s, color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.actually-page {
  position: relative;
  margin-top: 4px;
}
.actually-page::after {
  content: "";
  width: 100%;
  background-color: var(--brand-color);
  height: 4px;
  border-radius: 2px;
  display: block;
  position: relative;
  top: 28px;
}

.header-contacts a {
  color: var(--weak-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14em;
  display: flex;
  align-items: center;
}
.header-contacts li,
.header-contacts ul {
  margin-left: 50px;
  align-items: center;
}
.header-contacts li {
  flex-direction: column;
}

/*HOME PAGE*/

.main-panel {
  background-color: var(--footer-color);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/home/img-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  color: var(--contrast-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.main-panel h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 0.06em;
  max-width: 696px;
}
.main-button {
  background-color: var(--brand-color);
  color: var(--contrast-color);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 42px;
  cursor: pointer;
  line-height: 1.875em;
  justify-self: center;
  margin-top: 30px;
}
.text-panel {
  margin: auto;
}
.text-panel ul {
  justify-content: space-around;
}
.text-panel li {
  flex-basis: 22.5%;
  display: inline-block;
  min-width: 200px;
}
.text-panel.section {
  padding-bottom: 0;
}
.text-panel h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14em;
  margin-bottom: 10px;
}
.text-panel p {
  color: var(--weak-color);
  font-size: 14px;
  line-height: 1.71em;
}
.text-panel-logos {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--second-section-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.image-panel {
  display: flex;
  flex-direction: column;
}
.image-list {
  justify-content: space-around;
}
.image-list_div {
  position: relative;
  margin-bottom: 15px;
}
.image-list_div img {
  display: block;
}

.image-list_depiction {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--contrast-color);
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-panel h2,
.persons-panel h2,
.our-clients h2 {
  font-size: 36px;
  line-height: 1.167em;
  margin-bottom: 50px;
  text-align: center;
}
.persons-panel {
  background-color: var(--second-section-color);
}
.persons-panel img {
  display: block;
}
.person-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.person-panel-description {
  background-color: var(--contrast-color);
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
}
.person-list {
  gap: 30px;
}
.persons-panel ul,
.persons-panel li {
  text-align: center;
  justify-content: space-around;
}
.persons-panel h5,
.persons-panel p {
  font-size: 16px;
  line-height: 1.875em;
}
.persons-panel h5 {
  font-weight: 500;
  margin-bottom: 10px;
}
.persons-panel p {
  color: var(--weak-color);
  margin-bottom: 16px;
}
.person-panel-socials {
  gap: 0px 10px;
}
.person-panel-socials:last-child {
  margin-right: 0;
}

.person-panel-socials_border {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  fill: var(--svg-color);
  transition: background-color 0.25s, fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person-panel-socials_border:hover,
.person-panel-socials_border:focus {
  background-color: var(--brand-color);
  fill: var(--contrast-color);
}

.our-clients ul,
.our-clients li {
  justify-content: space-around;
}
.our-clients ul {
  gap: 30px;
}
.client-logo {
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  fill: var(--svg-color);
  transition: border-color 0.25s, fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover,
.client-logo:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

/*FOOTER*/

.footer-standard {
  background-color: var(--footer-color);
  color: var(--contrast-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.flex-footer {
  justify-content: flex-start;
  gap: 70px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.footer-standard a {
  color: var(--contrast-color);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway, sans-serif;
  line-height: 1.37em;
}
.footer-web {
  color: var(--brand-color);
}
.building-address,
.footer-standard .contacts {
  font-size: 14px;
  line-height: 1.46em;
  font-style: normal;
  white-space: nowrap;
}
.footer-standard .contacts a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
.footer-wrapper {
  display: inline-block;
}
.join-to-us {
  display: inline-block;
  margin-top: 12px;
}
.join-to-us h5,
.newsletter__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-list {
  flex-wrap: nowrap;
  gap: 0px 20px;
}
.footer-socials_border {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--contrast-color);
}
.footer-socials_border:hover,
.footer-socials_border:focus {
  background-color: var(--brand-color);
}
.newsletter__input {
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
}
.newsletter__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
}
.newsletter__button {
  margin: 0;
  margin-left: 12px;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding: 0;
  padding-left: 42px;
  padding-right: 28px;
}
.newsletter__icon {
  fill: var(--contrast-color);
  margin-left: 24px;
}
/*PORTFOLIO PAGE*/

.portfolio-button-section {
  margin-bottom: 50px;
}

.portfolio-button-section button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  border: 0;
  font-family: inherit;
  color: var(--strong-color);
  background-color: var(--second-section-color);
  cursor: pointer;
  padding: 6px 22px;
  margin: 4px 4px;
  border-radius: 4px;
  transition: background-color 0.25s, color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button-section button:hover,
.portfolio-button-section button:focus {
  background-color: var(--brand-color);
  color: var(--contrast-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-images {
  justify-content: space-around;
  row-gap: 30px;
}
.portfolio-images li {
  transition: box-shadow 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 370px;
}
.portfolio-images li:hover,
.portfolio-images li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-images img {
  display: block; /*this line remove break between img and description border = 1/4standard font size*/
}
.portfolio-images_image {
  position: relative;
  overflow: hidden;
}
.portfolio-images li:hover .portfolio-images_overlay {
  transform: translateY(0);
}
.portfolio-images_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  will-change: transform;
  transform: translateY(+100%);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  display: flex;
}
.portfolio-images_overlay > p {
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--contrast-color);
}
.portfolio-image-description {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.portfolio-images h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.portfolio-image-description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: var(--weak-color);
}
.newsletter {
  display: inline-block;
  margin-top: 12px;
}

/* modal */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

}
.is-hidden {
  /* visibility: hidden; */
  pointer-events: none;
}
.is-hidden .modal {
  transform: scale(0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
}
.is-hidden .backdrop {
  /* opacity: 0; */
  visibility: hidden;
  transition-delay: 0.2s;
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  transform: scale(1);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.71, 1.51, 0.4, 2);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.icon-close-bnt {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--strong-color);
  margin-bottom: 0.75rem;
}

.modal__icon {
  fill: var(--strong-color);
  position: absolute;
  top: 30px;
  left: 15px;
  cursor: text;
  transition: fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}
.modal__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--brand-color);
  outline: 0;
}
.modal__label:has(.modal__input:focus) .modal__icon {
  fill: var(--brand-color);
}

.modal__input-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal__input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-bottom: 20px;
}
.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--weak-color);
  position: relative;
  display: block;
}
.modal__checkbox {
  visibility: hidden;
}
.modal__checkbox:checked {
  outline: 0;
  color: green;
}
.modal__terms {
  color: var(--weak-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 0.03em;
  position: relative;
}
.modal__terms a {
  color: var(--brand-color);
}
.modal__terms svg {
  fill: #ffffff;
  background: #ffffff;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  position: relative;
  top: 2px;
  transition: border 0.05s, fill 0.05s, background-color 0.05s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + span svg {
  background-color: var(--brand-color);
  border: 0;
}
.modal__label:has(.modal__input:invalid) .modal__input,
.modal__label:has(.modal__input:invalid) .modal__icon {
  fill: red;
  border-color: red;
}
