.header {
  border-bottom: solid 1px #ececec;
}
.header__wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 2.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  flex-basis: 492px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contacts {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
