.is-hidden {
  pointer-events: none;
}
.is-hidden .modal {
  transform: scale(0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
}
.is-hidden .backdrop {
  visibility: hidden;
  transition-delay: 0.2s;
}
